<%= simple_form_for(@villa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :guest_count %>
    <%= f.input :bedroom_count %>
    <%= f.input :villa_detail_heading %>
    <%= f.input :love_points_heading %>
    <%= f.input :villa_rates_heading %>
    <%= f.input :need_to_know_heading %>
    <%= f.input :feature_and_facility_heading %>
    <%= f.input :similar_villas %>
    <%= f.input :published %>
    <%= f.association :area %>
    <%= f.association :region %>
    <%= f.association :country %>
    <%= f.association :continent %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
