<%= form_for @villa, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :guest_count, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :guest_count, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bedroom_count, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :bedroom_count, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :villa_detail_heading, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :villa_detail_heading, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :love_points_heading, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :love_points_heading, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :villa_rates_heading, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :villa_rates_heading, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :need_to_know_heading, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :need_to_know_heading, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :feature_and_facility_heading, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :feature_and_facility_heading, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :similar_villas, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :similar_villas, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :published, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :published, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  villas_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
