<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @section.header %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Static page:</strong>
  <%= @section.static_page %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
